
// Font family
$body-font-family: Athelas, Palatino, Georgia, serif;


// Type scale
$typeunit: 4px !default;

$h0-mobile: ($typeunit * 9) !default;
$h0-desktop: ($typeunit * 12) !default;

$h1-size: ($typeunit * 7) !default;
$h2-size: ($typeunit * 6) !default;
$h3-size: ($typeunit * 5) !default;
$h4-size: ($typeunit * 4) !default;
$h5-size: ($typeunit * 3) !default;
$h6-size: ($typeunit * 2) !default;

$body-font-size: $h5-size;
$prose-font-size: $h4-size;


// Container width
$container-width: 52em;

// Large breakpoint
$breakpoint-lg: 60em;

// Spacing unit
$spacer: 4px !default;

// Spacing scale
$spacer-1: $spacer !default; // 8px
$spacer-2: ($spacer * 2) !default; // 16px
$spacer-3: ($spacer * 4) !default; // 32px
$spacer-4: ($spacer * 8) !default; // 64px
